

.shuttle-background{
    position: relative;
    min-height: 580px;
    width: 580px;
    margin: auto;
    img{
        position: absolute;
        // left: 250px;
        // bottom:250px;
        height: 80px;
        width: 80px;
    }
}